html {
	scroll-behavior: smooth;
}

body {
	margin: auto;
	line-height: 1.5em;
	font-family: urw-din, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #363636;
}

h1 {
	font-family: urw-din-condensed,sans-serif;
	font-weight: 900;
	font-size: 9em;
	text-transform: uppercase;
	margin: 0;
	line-height: .9em;
}

h2 {
	font-family: urw-din, sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 9px;
	margin: .5625em 0 1em 0;
}

h3 {
	font-family: urw-din-condensed,sans-serif;
	font-weight: 900;
	font-size: 4em;
	line-height: 1em;
	margin: 0;
	text-transform: uppercase;
}

h4 {
	font-family: urw-din-condensed,sans-serif;
	font-weight: 900;
	font-size: 1em;
	margin: 0;
	text-transform: uppercase;
}

#navbar {
	position: fixed;
	display: flex;
	align-items: center;
	width: 100%;
	top: 0;
	padding: 1em 0;
	transition: all 0.3s;
	z-index: 1;
	background: none;
}

#navbar.black .logo, #navbar.black .nav-links, #navbar.black .menu-btn {
	color: #363636;
}

#navbar.black {
	background: #ffffff;
}

.nav-links, .menu-btn {
	margin: 0 1em 0 0;
	color: #ffffff;
	transition: opacity 0.3s;
	transition: all 0.3s;
}

.nav-links:hover, .contact-links a:hover, .menu-btn:hover {
	opacity: 0.5;
}

.nav-links {
	display: none;
}

.logo {
	display: block;
	margin-left: 1em;
	margin-right: auto;
	transition: all .5s;
	font-family: urw-din,sans-serif;
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
	transition: all 0.3s;
}

.hero {
	height: 100vh;
	min-height: 720px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

.background-video {
	height: 100vh;
	min-height: 720px;
	width: 100%;
	position: absolute;
	overflow: hidden;
	z-index: -1;
	display: flex;
	justify-content: center;
	background: #000000;
}

.background-video video {
	object-fit: cover;
	width: 100%;
	opacity: 0.2;
	filter: blur(4px);
	transform: scale(1.1);
}

.background-video:after {
  animation: grain 8s steps(10) infinite;
  background-image: url("img/noise.png");
  filter: grayscale(100%);
  opacity: 0.5;
  content: "";
  display: block;
  height: 300%;
  left: -100%;
  position: fixed;
  top: -100%;
  width: 300%;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

.center {
	text-align: center;
}

.section {
	padding: 8em 0;
	background: #ececec;
}

.container {
	max-width: 1500px;
	margin: auto;
	overflow: hidden;
}

.footer {
	background: #ececec;
	color: #363636;
	margin: 0;
}

.footer .kr-info a {
	color: #363636;
	margin-left: 1em;
	transition: all 0.2s;
}

.footer .kr-info a:hover {
	opacity: 0.5;
}

.footer .kr-info .social {
	float: right;
}

.container {
	padding: 1em;
}

a {
	color: #363636;
	cursor: pointer;
	text-decoration: none;
	transition: opacity 0.3s;
}

a.action:after {
	content: '';
	margin: 0;
}

a.action button {
	outline: none;
	border-radius: 2em;
	cursor: pointer;
	padding: 1em 1.5em;
	font-family: urw-din, sans-serif;
	font-weight: 400;
	font-size: 20px;
	border: 2px solid #ffffff;
	background: none;
	color: #ffffff;
	transition: all .3s;
}

a.action button:hover {
	background: #ffffff;
	color: #363636;
}

a.action button .arrow {
	transform: translateY(3px);
	transition: transform .3s;
	padding-left: 8px;
}

a.action button:hover .arrow {
	transform: translateY(3px) translateX(4px);
}

a.action.bio button {
	border: none;
	border-radius: 0;
	padding: 0;
	color: #363636;
	font-size: 16px;
	text-align: left;
}

a.action.bio button:hover {
	background: none;
}

.mediums button {
	font-weight: bold;
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 0 5px;
}

.genres {
	border-top: 1px dashed rgba(54, 54, 54, 0.1);
}

.genres button {
	font-weight: 400;
	font-size: 1em;
}
.mediums, .genres {
	padding: 1em;
}

.mediums button, .genres button {
	outline: none;
	border: none;
	cursor: pointer;
	font-family: urw-din, sans-serif;
	background: none;
	color: #363636;
	transition: all .3s;
	opacity: 0.5;
}

.mediums button.active, .genres button.active{
	opacity: 1;
}

.mediums button:hover, .genres button:hover {
	opacity: 1;
}

.work .content {
	display: flex;
	flex-wrap: wrap;
}

.work .content > div {
	cursor: pointer;
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.work-info {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(255,255,255,0.98);
	color: #363636;
	opacity: 0;
	transition: all 0.3s;
	text-align: center;
}

.work-info .kind {
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: .75em;
	padding: 1em 2em 0;
}

.work-info .title {
	line-height: 1.2em;
	font-size: 2em;
	padding: 0 1em;
	font-weight: bold;
}

.work-info:hover {
	opacity: 1;
}

.about h3 {
	margin: 0 0 1em 0;
}

.bio {
	padding-bottom: 2em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.bio p {
	margin: 0 0 1em 0;
}

.bio p a {
	padding-bottom: 2px;
	opacity: 0.5;
	transition: all 0.3s;
}

.bio p a:hover {
	opacity: 1;
}

.about-content {
	padding: 2em 0 0 0;
	margin: 2em 0 0 0;
	border-top: 1px solid rgba(54, 54, 54, 0.1);
	display: flex;
	flex-wrap: wrap;
}

.about-content b {
	min-width: 100%;
}

.about-list p {
	margin: 0;
}

.contact .contact-links, .contact h3 {
	width: 100%;
	text-align: center;
}

.contact-links {
	font-size: 1.5em;
	line-height: 2em;
}

.contact-links a {
	opacity: 0.5;
	padding: 0 0 4px 0;
	transition: all 0.3s;
	border-bottom: 1px dashed #36363688;
}

.contact-links a:hover {
	opacity: 1;
}

.work, .contact {
	background: #ffffff;
}

.about {
	background: #f8f8f8;
}

.about-photo {
	width: 100%;
	height: 0;
	padding-bottom: 80%;
	overflow: hidden;
	margin-bottom: 1.5em;
	background-image: url("img/terrell.jpg");
	background-size: cover;
	background-position-y: 25%;
}

.about-photo img {
	width: 100%;
}

.slbIframeCont {
	width: 40em !important;
}

@media only screen and (max-width: 658px) {
	h1 {
		font-size: 6em;
	}

	h2 {
		font-size: 1em;
		letter-spacing: 5px;
		margin: .75em 0 1em 0;
	}
}


@media only screen and (min-width: 900px) {
	
	h1 {
		font-size: 12em;
	}

	h2 {
		font-size: 2em;
		letter-spacing: 12px;
		margin: .75em 0 1em 0;
	}
	
	h3 {
		font-size: 5em;
	}
	
	#navbar.black {
		background: none;
	}
	
	.container {
		padding: 2em;
	}
	
	.menu-btn {
		display: none;
	}
	
	.nav-links {
		display: block;
	}
	
	.work .content > div {
		width: 33.33%;
		padding-bottom: 18.5625%;
	}
	
	.work-info .title {
		font-size: 1.5em;
	}
	
	.bio .copy {
		width: 50%;
	}
	
	a.action.bio button {
		font-size: 16px;
	}
	
	.contact-links {
		font-size: 2em;
		line-height: 2em;
	}

	.contact .container {
		display: flex;
	}

	.contact .contact-links, .contact h3 {
		width: 50%;
		text-align: left;
	}
	
	.about-photo {
		width: 45%;
		padding-bottom: 65%;
	}
	
	.menu-btn {
		font-size: 30px;
		cursor: pointer;
	}
	
	.sidenav .closebtn {
		padding: 20px 30px;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 36px;
	}
	
}

.menu-btn {
	font-size: 20px;
	cursor: pointer;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #e3e3e3;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	font-size: 24px;
	color: #363636;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	opacity: 0.5;
}

.sidenav .closebtn {
	padding: 20px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 28px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
//#ece68b #eae6a6 #e8e5b0 #e7e6cc #e7e5d4 #e3e5df #e3e4e5
